.site-footer {
	border-top: 1px solid #e3e3e3;
	margin-top: 20px;
	padding: 10px;
	background: $brand-secondary;
	color: white;

	a {
		color:white;
		transition: all 0.3s ease;

		&:hover {
			color: $brand-primary;
		}
	}

	&__copyright {
		@media screen and (max-width:  $screen-sm){
			padding: 0 15px;
		}
	}
}