.site-header {
    background: linear-gradient(#6C9CC4, white);//url('/images/logo.jpg') top center / contain no-repeat;

    margin-bottom: 20px;
    padding: 15px !important;

    @media screen and (max-width: $screen-sm){
        margin: 80px 15px 20px !important;
    }

    &__banner {
    }

    img {
        box-shadow: 0px 8px 6px -3px rgba(0,0,0,0.3);
    }

    @media screen and (max-width: $screen-sm){
        padding: 0 15px;
    }
}

// .navbar {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     width:100%;
//     margin-bottom: 0;
//     border-radius: 0;

//     .navbar-nav {
//         li {
//             a {
//                 //border-radius: 40px !important;
//             }

//             &.active {
//                 a {
//                     color: white;
//                 }
//             }
//         }
//     }

//     .navbar-collapse {
//         padding: 0;
//     }
// }
