body {
    background: #a6bcd3 url(/images/background.jpg) top center / cover no-repeat;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
}

h1, .h1 {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}
h4, .h4, h5, .h5 {
    margin-top: 30px;
}

a {
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

.pull-right-sm {
    @media screen and (min-width: $screen-sm){
        float: right !important;
    }
}

[class^="col-"]:not(:first-child,:last-child) {
  marfin-right:7px;
  marfin-left:7px;
}


.site-header {
    margin-top: 80px;
    min-height: 125px;
    padding: 15px;

    .site-title {
        //background: $brand-primary;
        //border-radius: 5px;
        color: white;
        text-align:center;
        padding: 10px;
        font-size: 33px;
        margin-bottom: 0;
        font-weight: bold;

        a {
            color: white;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $brand-primary;
                text-decoration: none;
            }
        }
    }

    .site-strapline {
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
        color: $brand-4;
    }
}

.site-main {
    article {
        padding:15px;
        background: $gray-lighter;
        margin-right: 15px;
        border-radius: 4px;

        @media screen and (max-width: $screen-md){
            margin: 0 0 15px;
        }

        @media screen and (max-width: $screen-sm){
            margin: 0 15px 15px;
        }

        li {
            line-height: 1.8em;

            &:nth-child(even) {
                //color: #0B01A8;
            }
        }

        figure {
            margin-bottom: 20px;
        }

        h3, .h3 {
            margin-top: 30px;
        }
    }
}

.site-main {
    margin-bottom: 20px;
}

.sidebar {

    &__primary,
    &__secondary {
        background: $gray-lighter;
        min-height: 500px;
        border-radius: 4px;
        padding: 15px;

        a {
            color: $brand-secondary;
            text-decoration: underline;

            &[href^="tel:"]{
                font-size: 24px;
                text-decoration: none;
            }

            &:hover {
                color: $brand-primary;
                text-decoration: none;
            }
        }

        p {
            line-height: 1.5em;
            margin: 20px 0;
        }

        h3 {
            margin: 0;
        }

        h5 {
            margin: 25px 0 -15px 0;
        }

        @media screen and (max-width: $screen-sm - 1 ){
            margin: 15px;
        }
    }

    &__primary {
        background: linear-gradient(-90deg, #7EA5CB, white);
        border: 1px solid $gray-lighter;
    }
}

.hightlight {
    color: $brand-3;
}
.large-text {
    font-weight: bold;
    font-size: 36px;
}